:host {
    background-color: rgb(18, 65, 145);
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14);
    height: 50px;
}

.app-bar {
    &__title {
        margin-right: 20px;
        font-size: 20px;
        flex-grow: 1;
    }
    &__username {
        flex-grow: 1;
    }
}
